*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

body, h1, p {
    margin: 0;
}

/* body */
body {
    padding-top: 4rem;
    font-family: 'Lato', sans-serif;
    background-color: #f8fafc;
    color: #020617;
}

/* nav */
nav {
    background-color: #334155;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    height: 4rem;
    left: 0;
    right: 0;
}

#nav-container {
    max-width: 50rem;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-title {
    color: #bfdbfe;
    font-weight: 700;
    text-transform: uppercase;
}

#nav-btn {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 0.375rem;
    background-color: inherit;
    border: 2px solid white;
    color: white;
}

#nav-btn:active {
    background-color: white;
    color: inherit;
    transition: all 0.175s ease-in-out;
}

#nav-links-container {
    display: flex;
    gap: 1rem;
    display: none;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

#main-desc-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#desc-text {
    text-align: justify;
}

#desc-link {
    background-color: #334155;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
}

#desc-link:hover {
    background-color: #020617;
    transition: all 0.175s ease-in-out;
}

#main-container {
    height: calc(100vh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
    max-width: 50rem;
    margin: 0 auto;
}

@media (min-width: 768px ) {
    #nav-btn {
        display: none;
    }

    #nav-links-container {
        display: flex;
    }

    #main-container {
        flex-direction: row;
    }

}

@media (min-width: 1024px ) {
    #main-tittle {
        width: 50%;
        font-size: 6rem;
    }

    #main-desc-container {
        width: 50%;
    }
}